

<input type="search" placeholder="Filter Products" data-ng-model="searchTerm">
<div style="size: 36px; text-align: center;">{{ searchTerm }}</div>
<div class="left-sidebar">

</div>
<div>
	<ul class="products">
	  <li data-ng-repeat="product in products | filter:{name: searchTerm}" data-ng-view class="product-listing reveal">
	      <img data-ng-src="http://gzcwheels.com/api/images/{{ product.image }}" alt="{{ product.name }}" class="product-image">
	      
		      <h3>{{ product.name }}</h3>
		      <p> {{ product.desc }}</p>
		      <h4>{{ product.price | currency }}</h4>
	  
	 
	  </li>
	</ul>
</div>

