<input type="search" placeholder="Filter Products" ng-model="searchTerm">

<ul class="movies">
  <li ng-repeat="product in products | filter:{desc: searchTerm}">
      <img ng-src="http://placekitten.com/g/{{ 200 + product.id }}/300">
      <h2>{{ product.name }}</h2>
    </a>
  </li>
</ul>