

<input type="search" placeholder="Filter Products" ng-model="searchTerm">
<div class="left-sidebar">

</div>
<div>
	<ul class="products">
	  <li ng-repeat="product in products | filter:{desc: searchTerm}" class="product-listing">
	      <img ng-src="http://gzcwheels.com/api/images/{{ product.image }}" class="product-image">
	      
		      <h3>{{ product.name }}</h3>
		      <p>{{ product.desc }}</p>
		      <h4>{{ product.price | currency }}</h4>
	   
	    </a>
	  </li>
	</ul>
</div>
